.block {
    display: block;
}

.block--hidden {
    display: none;
}

.container {
    box-sizing: border-box;
    min-width: 100%;
}

.interface-menu {
    display: inline-block;
    position: relative;
}

.interface-menu__label {
    cursor: pointer;
    padding: 0px 5px ;
    display: inline-block;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    text-align: center;
    white-space: nowrap;
}

.interface-menu__label:hover{
    transform: scale(1.1);
}

.interface-menu__dropdown {
    background-color: white;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 10px;
}

.interface-menu__dropdown--vertical {
    position: absolute;
    top: 100%;
    left: 5px;
}

.interface-menu__dropdown--horizontal {
    position: absolute;
    top: 5px;
    left: 100%;
}

.code-container {
}

.code-container__textarea {
    width: 100%;
}

.visual {
    margin: auto;
    display: table;
    font-size: xx-large;
}

.visual__cell:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.visual__cell:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.visual__cell {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 60px;
    position: relative;
    width: 60px;
}

.visual__cell__text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
